langchain
langchain-openai
langchain-community
transformers
peft
faiss-cpu
fastapi
uvicorn
pydantic
torch
bitsandbytes
accelerate
datasets
python-dotenv
tiktoken
ragas
rank_bm25
pinecone-client
anthropic
boto3
azure-identity
openai
